* {
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

html, body, h1 {
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.group {
    width: 100%;
    padding: 20px 30px;
    margin: 0 0 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


@media (min-width: 768px) {
    .group {
        font-size: 20px;
        font-weight: 500;
    }
    .target-wrapper {
        font-weight: 600;
    }
    .target {
        font-weight: 500;
    }
}